@charset "utf-8";

h1 {
    top: 0%;
    position: absolute;
    width: 100%;
    text-align: center;
}

.problem {
    width: 30px;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid #000000;
    padding-left: 10px;
    padding-right: 10px;
}

#chapter1, #chapter2, #chapter4 {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
    margin-top: 70px; 
}

#marking {
    top: 20% ;
    margin-top: 20px; 
}
